@font-face {
    font-family: 'Chinacat';
    font-style: normal;
    font-weight: 400;
    src: local('Chinacat'), url('https://fonts.cdnfonts.com/s/1762/chinrg__.woff') format('woff');
}
@font-face {
    font-family: 'Chinacat';
    font-style: normal;
    font-weight: 100;
    src: local('Chinacat'), url('https://fonts.cdnfonts.com/s/1762/chint___.woff') format('woff');
}



